boto3==1.33.13
botocore==1.33.13
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
dotenv==0.9.9
Flask==2.2.5
idna==3.10
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==2.1.5
numpy==1.16.6
opencv-python==4.2.0.34
packaging==24.0
Pillow==8.0.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
requests==2.31.0
s3transfer==0.8.2
segment-anything==1.0
six==1.17.0
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.55.0
typing_extensions==4.7.1
urllib3==1.26.20
Werkzeug==2.2.3
zipp==3.15.0